.logement {
    width: 1440px;
    display: flex;
    justify-content: center;
    margin: auto;

    &-img {
        width: 1240px;
        margin: auto;
    }

    &-lists {
        display: flex;
        justify-content: space-between;       
        width: 1240px;
        margin-bottom: 30px;

    }

    &-list {
        background-color: #FF6060;
        height: 52px;
        margin: 25px 0 25px 0;
        color: white;
        border-radius: 10px;
        font-size: 22px;
        display: flex;
        align-items: center;
        width: 560px;
        
        & p {
            margin-left: 20px;
    }     

        & i {
            position: relative;
            left: 500px;
            font-size: larger;
        }
    }
            
           
}

.flat {
    width: 1240px;
    color: #FF6060;
    margin: auto;

    &-mix {
        display: flex;
        justify-content: space-between;
    }


    &-title {
        font-weight: 600;
    }

    &-location{
        font-size: 24px;
    }
}

.filter {
    color: white;
    display: flex;
    gap: 20px;


    & p {
        display: flex;
        justify-content: center;
        background-color: #FF6060;
        width: 115px;
        padding: 10px 20px 10px 20px;
        border-radius: 20px;
        
    }
}

.fa-star {
    font-size: 25px;
    margin: 10px;
    margin-top: 20px;

    &-grey {
        color: rgb(221, 221, 221);;
    }

}

.fa-circle {
    font-size: 90px;
    margin-top: 20px;
    color: rgb(221, 221, 221);
}

.profil {
    display: flex;
    justify-content: baseline;

    & p {
        font-size: 22px;
        margin: 40px 20px 0 0;
    }
}