.listConteiner{
    overflow: hidden;

    .list {
        background-color: #FF6060;
        height: 52px;
        max-width: 1000px;
        margin: 0 0 25px 0;
        color: white;
        border-radius: 10px;
        font-size: 22px;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        z-index: 1;
        margin: 0 100px 0 100px;

        &-paragraph {
            color: #FF6060;
            height: fit-content;
            max-width: 960px;
            position: relative;
            bottom: 30px;
            z-index: 0;
            padding: 10px;
            margin: 20px 100px 0 100px;
            text-align: justify;
            overflow: hidden;
        }
        

        & i {
            position: relative;
            left: 95%;
            font-size: larger;
        }

        .rotate-180 {
            transform: rotate(180deg);
            transition: transform 0.3s ;
        }

        .rotate-0 {
            transform: rotate(0deg);
            transition: transform 0.3s ;
        }
    }

    .fa-chevron-up {
        cursor: pointer;
    }

    .translate-en-haut {
        max-height: 0; 
        transition: max-height 0.5s;
    }

    .translate-en-bas {
        max-height: 300px;
        height: auto;
        background-color: #F6F6F6;
        transition: max-height 0.5s;
    }
}

.smallList {  
    
  overflow: hidden;


    .list {
        background-color: #FF6060;
        height: 52px;
        width: 560px;
        margin: 0 0 25px 0;
        color: white;
        border-radius: 10px;
        font-size: 22px;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &-paragraph {
            color: #FF6060;
            max-width: 540px;
            position: relative;
            bottom: 30px;
            z-index: 0;
            padding: 5px 5px 1px 10px;
            text-align: justify;
            overflow: hidden;
        }
 
        & i {
            position: relative;
            left: 510px;
            font-size: larger;
        }

        .rotate-180 {
            transform: rotate(180deg);
            transition: transform 0.3s ;
        }

        .rotate-0 {
            transform: rotate(0deg);
            transition: transform 0.3s ;
        }

    }
   
    .translate-en-haut {
        max-height: 0; 
        transition: max-height 0.5s; 
    }

    .translate-en-bas {
        max-height: 300px;
        height: auto;
        background-color: #F6F6F6;
        transition: max-height 0.5s;
    }

    .fa-chevron-up {
        cursor: pointer;    
    }
}

@media screen and (max-width: 750px) {


    .listConteiner .list {
        width: 85%;
        margin: auto;

        &-paragraph {
            width: 80%;
            margin: auto;
            margin-top: 30px;
        }

        & i {
            left: 85%;
        } 
    }

    .smallList {

        .list-paragraph{
            font-size: 14px;
        }

        .list {
            max-width: 85vw;

            & i {
                left: 88%;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .listConteiner{
        
        .list-paragraph{
            font-size: 14px;

            &-paragraph {
                width: 80%;
            }
        }
    }

    .smallList {

        .list-paragraph{
            font-size: 14px;
        }       
    }
}