.home {
    max-width: 1440px;

    
        &-support {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1240px;
        height: 830px;
        border-radius: 25px;
        background: #F6F6F6;
        margin: 0 100px 40px 100px;
        }  
    }

    


@media screen and (max-width: 1340px) {
    .home-support {
        width: 85vw;
        height: 1300px;      
        margin: auto;
    }

}

@media screen and (max-width: 900px) {

    .home-support {
        background: none;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
        width: 85vw;
        justify-content: center;
    }
}