
.card {
    height: 340px;
    width: 340px;
    margin: 20px;
    margin-top: 35px;

    &-img {
        object-fit: cover;
        height: 340px;
        width: 340px;
        border-radius: 10px;
        box-shadow: 0 0 10px 2px grey;
        &:hover {   
            cursor: pointer;
            box-shadow:  0 0 20px 2px grey;;
        }
    }
    
   
    
    &-title {
        color: white;
        font-size: 22px;
        font-weight: 600;
        position: relative;
        top: -90px;
        left: 10px;
        text-decoration: none ;
        
    }
}

@media screen and (max-width: 750px) {

    .card {
        width: 85vw;
        height: 255px;
        margin-bottom: 100px;
        margin-top: 45px;
    
        &-img {
            width: 85vw;   
            
        }

        &-title {
            position: relative;
            bottom: 30px;
            text-decoration: none;
        }
    }
}

