
.card {
    height: 340px;
    width: 340px;
    margin: 20px;
    margin-top: 35px;

    &-img {
        object-fit: cover;
        height: 340px;
        width: 340px;
        border-radius: 10px;
        box-shadow: 0 0 10px 2px grey;
        &:hover {   
            cursor: pointer;
            box-shadow:  0 0 20px 2px grey;;
        }
    }
    
   
    
    &-title {
        color: white;
        font-size: 22px;
        font-weight: 600;
        position: relative;
        top: -90px;
        left: 10px;
        text-decoration: none ;
        
    }
}


@media screen and (max-width: 900px) {
    
    .card {
        width: 75vw;
        margin: auto;
        padding-top: 40px;

        &-img {
            width: 75vw;
            height: 90%;
        }
    }
}   

@media screen and (max-width: 750px) {
    .card{
        width: 80vw;
        
        &-img {
        width: 80vw;
    }
}
    }
    
