.header {
    display: flex;
    max-width: 98vw;
    height: 68px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    margin: 30px 100px 0 100px;
    max-width: 1240px;

    &-img {
        height: 50px;
    }

    &-nav {
        max-width: 300px;

        a {
            margin-left: 45px; 
            color: #FF6060;
            text-decoration: none;
            font-size: 24px;
            
            &:hover {
                cursor: pointer;
                text-decoration: underline;
               
            }
        }  
    }
}

@media screen and (max-width: 750px) {
    .header {
        width: 85vw;
        padding-bottom: 10px;
        margin: auto;

        &-img {
            height: 30px;
        }

        &-nav {
            display: flex;
            justify-content: space-between;

            a {
                font-size: 18px;
                margin-left: 30px;
            }
        }
    }
}