.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 100px 40px 100px;


    &-img {
        width: 85vw;
        border-radius: 25px;   
        height: 225px;
        object-fit: cover;    
        filter: brightness(0.85);
    }

    &-title {
        position: absolute;
        font-size: 50px;
        color: white;
        top: 220px;
        margin: auto;    }

}

.police-title {
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .banner {
       display: flex;
       align-items: center;
       width: 85vw;
       margin: auto;

       &-img {
            height: 170px;
            margin-bottom: 5px;
       }

       &-title {
            font-size: 30px;
            position: absolute;
            top: 110px;
            left: 55px;
            max-width: 80%;
       }
    }
} 